@font-face {
  font-family: "Area";
  src: url("Area-Light.woff2") format("woff2"),
    url("Area-Light.woff") format("woff"),
    url("Area-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Area", Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
  background: black;
}

.content span:not(:last-of-type):after {
  content: " \00a0· ";
  display: inline-block;
}

a {
  color: inherit;
}

.slideshow-container {
  position: fixed;
  inset: 0;
  z-index: -1;
}
.slide {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;

  /* Apply SVG mask and force it to stretch */
  -webkit-mask-image: url("svartljus-wordmark.svg");
  -webkit-mask-size: 99% 99%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-composite: destination-in;

  mask-image: url("svartljus-wordmark.svg");
  mask-size: 99% 99%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: exclude;

  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  opacity: 1;
}
